title 
meta(name="description" content="")

// Google Analytics Snippet
include ./_googleAnalytics.jade
// Microdata
include ./_microdata.html
// OpenGraph
include ./_opengraph.jade
// Twitter Card
include ./_twitter-card.jade
